.first{
  
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70vw;
  margin: auto;
  color: white;
  height: 580px;
  
}
.spam1{
  font-size: 45px;
  font-weight: bolder;
  margin-bottom: 20px;
}
.spam2{
  font-size: 20px;
}
.secimg{
  position: relative;
}
.secimg img{
  width: 30vw;
  position: relative;
  z-index: 10;
 
  
  
}
.secimg video{
  position: absolute;
  top:51px;
  right: 20px;
  width: 380px;
  
}